@model PostsViewModel
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

@{
    ViewData["Title"] = Model.Category;
}

<div style="background-color: #171a1c;">
    <div style="float: left;padding: 10px">
        <a class="btn btn-primary create-post" title="Create new post" asp-action="CreatePost">Create new post <i class="fas fa-plus"></i></a>
    </div>
    @Html.Partial("_PostPagingPartial", Model)
</div>

<div class="container" style="background-color: #1d2124;padding: 10px;">
    <h1>@Model.Category</h1>

    <table class="table forum-posts">
        <thead>
            <tr>
                <th>
                    Post
                </th>
                <th>
                    Replies / Views
                </th>
                <th>
                    Latest post by
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Posts)
                {
                    <tr style="font-size: 14px">
                        <td style="width: 60%">
                            <div>
                                <a style="font-size:18px" href="@Url.Action("Details", "Forum", new { id = item.Id })">@item.Title</a>
                                <p>Started by <a href="/Profile/@item.User.UserName">@item.User.UserName</a></p>
                                <p style="line-height: 0px">@item.Date.ToString("MMMM") @item.Date.Day @item.Date.Year, @item.Date.ToString("HH:mm:ss")</p>
                            </div>
                        </td>
                        <td>
                            <p style="margin: 0">Replies: @item.Comments.Count()</p>
                            <p>Views: @item.ViewCount</p>
                        </td>
                        <td>
                            @{
                                var latestComment = item.Comments.OrderByDescending(c => c.Date).FirstOrDefault();
                                var user = await _userManager.FindByIdAsync(latestComment.UserId);
                                if (latestComment != null)
                                {
                                    <p><a class="go-to-post" data-toggle="tooltip" title="Go to post" href="/Forum/Details/@latestComment.PostId#post@(latestComment.Id)"><span class="fas fa-arrow-alt-circle-right"></span></a><a href="/Profile/@user.UserName">@user.UserName</a></p>
                                    <p style="line-height: 0px">@latestComment.Date.ToString("MMMM") @latestComment.Date.Day @latestComment.Date.Year, @latestComment.Date.ToString("HH:mm:ss")</p>
                                }

                                else
                                {
                                    <p><a class="go-to-post" data-toggle="tooltip" title="Go to post" href="/Forum/Details/@item.Id"><span class="fas fa-arrow-alt-circle-right"></span></a><a href="/Profile/@item.User.UserName">@item.User.UserName</a></p>
                                    <p style="line-height: 0px">@item.Date.ToString("MMMM") @item.Date.Day @item.Date.Year, @item.Date.ToString("HH:mm:ss")</p>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
