@model WowGuildApp.Models.PostsViewModel

@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>

<table class="table">

    <tbody>
        @{
            foreach (var category in Model.Categories)
            {
                foreach (var post in Model.LatestPosts)
                {
                    if (category == post.Category)
                    {
                        <tr>
                            <td style="font-size: 24px;">
                                <a href="/Forum/@category">@category</a>
                            </td>
                            <td>
                                <p>@post.Title</p>
                                <p>By: @post.UserId</p>
                                <p>@post.Date</p>
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>

@*<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
