
@model Lineup

<div class="list-group-item">
    <div class="row">
        <div class="col-lg-4 p-0">
            @{
                var imgSrc = "http://render-eu.worldofwarcraft.com/character/" + Model.Signup.Character.Thumbnail;
            }
            <img src="@imgSrc" />
        </div>
        <div class="col p-0">
            <h5>
                @Model.Signup.Character.Name
            </h5>
            <ul class="character-card-text">
                <li>
                    @Model.SpecializationName
                </li>
                @if (!Model.Signup.Character.Main)
                {
                    <li class="font-weight-light">
                        Alt
                    </li>
                }
            </ul>
            <p data-toggle="modal" data-target="#lineup-@Model.Id">
                Officer Note: @if (Model.OfficerNote != null)
                {<text>@Model.OfficerNote</text>}

            </p>

            @if (Model.Note != null)
            {
                <p>
                    <text>
                        Note: @Model.Note
                    </text>
                </p>
            }
        </div>


    </div>
    <hr />
    <div class="row">
        <form asp-action="RemoveFromLineup" method="delete" class="form-inline lineup-form">
            <input asp-for="EventId" type="hidden" value="@Model.EventId" />
            <input asp-for="SignupId" type="hidden" value="@Model.SignupId" />
            <input type="submit" class="btn btn-danger" value="Remove" />
        </form>
    </div>
</div>
<div class="modal fade officer-note-modal" id="lineup-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Signup.Character.Name Officer Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="OfficerNote" class="officer-note-form" id="officer-note-form-@Model.Id">
                    <textarea asp-for="OfficerNote" class="form-control"></textarea>
                    <input asp-for="EventId" type="hidden" value="@Model.EventId" />
                    <input asp-for="SignupId" type="hidden" value="@Model.SignupId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" form="officer-note-form-@Model.Id" class="btn btn-primary" value="Add Note" />
            </div>
        </div>
    </div>
</div>