@model Specialization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "_SignupPartial";
}



<div class="list-group-item character-card">
    <div class="row">
        @{
            var imgSrc = "http://render-eu.worldofwarcraft.com/character/" + Model.Signup.Character.Thumbnail;
        }
        <div class="col-lg-4 p-0">
            <img src="@imgSrc" />
        </div>
        <div class="col p-0 character-card-body">
            <h5>
                @Model.Signup.Character.Name
            </h5>
            <ul class="character-card-text">
                <li>
                    @Model.SpecializationName
                </li>
                <li>
                    ILvl: @Model.Signup.Character.AverageItemLevelEquipped
                </li>
                @if (!Model.Signup.Character.Main)
                {
                    <li class="font-weight-light">
                        Alt
                    </li>
                }
            </ul>

            @if (Model.Signup.Note != null)
            {
                <p @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.Signup.UserId) { <text> data-toggle="modal" data-target="#signup-@Model.Id" </text> }>
                    Note: @Model.Signup.Note
                </p>
            }
            else
            {
                <p class="font-weight-light" @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.Signup.UserId) { <text> data-toggle="modal" data-target="#signup-@Model.Id" </text> }>
                    Click to add note...
                </p>
            }

        </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.Signup.UserId)
{
    <div class="modal fade" id="signup-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Model.Signup.User.UserName Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="SignupNoteAsync" class="signup-note-form" method="post" id="signup-note-@Model.Id">
                        <textarea asp-for="Signup.Note" class="form-control" placeholder="Note..."></textarea>
                        <input asp-for="Signup.EventId" type="hidden" value="@Model.Signup.EventId" />
                        <input asp-for="Signup.Id" type="hidden" value="@Model.Signup.Id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" form="signup-note-@Model.Id" class="btn btn-primary" value="Add Note" />
                </div>
            </div>
        </div>
    </div>

}
