@model WowGuildApp.ViewModels.EventDetailViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt>
            Raidleader
        </dt>
        <dd>
            @Model.Host.UserName
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt>
            Invite Time
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Event.InviteTime)
        </dd>
        <dt>
            Start Time
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Event.StartTime)
        </dd>
        <dt>
            Last Signup
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.Event.LastSignup)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(User) == Model.Event.hostId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Event.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Event.Id" class="btn btn-danger">Delete</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
