@model CalendarViewModel
@{
        ViewData["Title"] = "Raid Planner";
}



<h1>@ViewData["Title"]</h1>
@*<div class="container">
        <div class="row">
            <a href="/Events/@Model.prev" class="btn btn-primary col-lg-4">Prev</a>
            <p class="col-lg-4">@Model.date.ToString("MMMM")</p>
            <a href="/Events/@Model.next" class="btn btn-primary col-lg-4">Next</a>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>
                    Monday
                </td>
                <td>
                    Tuesday
                </td>
                <td>
                    Wednsday
                </td>
                <td>
                    Thursday
                </td>
                <td>
                    Friday
                </td>
                <td>
                    Saturday
                </td>
                <td>
                    Sunday
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>*@


@* Lyckades inte komma på ett eget sätt att skapa "kalendern"
    kör med https://fullcalendar.io/ tillsvidare*@

<div id="calendar">
</div>

<script>
    $(function () {

        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
            defaultView: 'month',
            dayClick: function (date, jsEvent, view) {

                window.open('Events/Create/'+date.format(),'_self')
            },
            events: [
                @foreach (Event i in Model.Events)
                {
                    <text>
                        {
                            title: '@i.Title',
                            start: '@i.Date.ToString("yyyy-MM-dd")',
                            id: @i.Id
                        },
                    </text>
                }
            ],
            eventClick: function (event) {
                window.open('Events/Details/' + event.id,'_self')
                return false;
            }
        })

    });
</script>

